html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

.section{
  color: #055160;
}
.picture {
  /* transform: scale(1.5); */
  height: 200px;
  width: 200px;
  background-color: #eee;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Style for the image */
.picture img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.sidebar {
  background-color:#fbfbfb;
  font-family: 'Spectral';
  /* font-family: Verdana, Arial, Helvetica, sans-serif;
  font-family: Times, "Times New Roman", Georgia, serif; */
}


.bg-light{
  /* background-color: white; */
  background-color: transparent;
}
.basic{
  text-align: center;
  font-size: 15px;
}

.aboutme{
  background-color: rgb(255, 255, 255);
  /* border: black solid 0.5px; */
  /* border-radius: 10px; */
  font-family: 'Lato', sans-serif;
  /* line-height: 1.5; */
  font-size: 25px;
  font-weight: 400;
  text-align: justify;
  /* text-justify: inter-word; */
  color: #1f1f20;

  -webkit-font-smoothing: antialiased;
}

a{
  color: black;
}

.pg{
  max-width: 5px;
  max-height: 5px;
}

.social{
  font-size: 25px;
}

.news{
 border: 1px solid rgb(161, 159, 159);
 margin: 2px;
 padding: 2px;
}