html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

.picture {
  height: 150px;
  width: 150px;
  background-color: #eee;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Style for the image */
.picture img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.sidebar {
  background-color:#f5f5f5;
  font-family: "Lucida Console", "Courier New", monospace;
  /* font-family: Verdana, Arial, Helvetica, sans-serif;
  font-family: Times, "Times New Roman", Georgia, serif; */
}


.bg-light{
  /* background-color: white; */
  background-color: transparent;
}
.basic{
  text-align: center;
}

.aboutme{
  background-color: white;
  /* border: black solid 0.5px; */
  border-radius: 10px;
  font-family: 'Spectral', "Lucida Console", "Courier New", monospace;
  /* font-family: Verdana, Arial, Helvetica, sans-serif; */
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;

}

a{
  color: black;
}

